
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}
.container{
    position: relative;
    width: 500px;
    height: 300px;
    padding: 20px;
    background: linear-gradient(135deg,pink, orange);
}
.slider{
    width: 100%;
    height: 220px;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    overflow: scroll;
}
.slider::-webkit-scrollbar {
    display: none;
  }
.slider>div{
    width: 1840px;
    overflow: hidden;
}
.slider_item{
    display: inline-block;
    height: 220px;
    width: 460px;
    text-align: center;
    line-height: 220px;
}
.page{
    position: absolute;
    bottom: 0;
    left: 46%;
}
.page > a{
    width: 10px;
    height: 10px;
    background: black;
    display: inline-block;
    border-radius: 50%;
}
.page>a:hover{
    width: 15px;
    height: 15px; 
}

span{
  position: absolute;
  font-weight: 900;
  font-size: 25px;
  cursor: pointer;
}
.container :first-child{
    top: 48%;
    left: 30px;
}
.container :nth-child(2){
    top: 48%;
    right: 30px;
}